*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100vh;
    width: 100%;
    font-family: sans-serif;
}
nav{
    display: flex;
    
}
nav .logo img{
    height: 40px;
}
.ancore a{
    font-size: 12px;
    margin-left: 160px;
}
.custom-container{
    padding: 0px 20px;
}
.heading{
    margin-top: 10px;
}
.heading h4{
    font-size: 18px;
}
.submit-opstion{
    margin-top: 10px;
}
.submit-opstion input{
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 3px 6px;
    border: 1px solid rgb(207, 204, 204);
    outline: none;
    
}
.submit-opstion button{
    padding: 3px 15px;
    border-radius: 4px;
    background-color: #6EB8F1;
    color: #fff;
    border: none;
}
.service{
    margin-top: 15px;
}
.service h6{
    color: #77B27B;
    font-size: 20px;
}
.unorder-list{
    margin-top: 10px;
}
.unorder-list ul li{
    font-size: 15px;
    margin-bottom: 5px;
}
.simple-text{
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 500;
}
.custom-containerr{
 padding: 5px 30px;
}
.footer-text .big-text {
    padding: 10px 50px;
    height: 50px;
    width: 500px;
    background-color: #F5F8FA;
}
.footer-text .big-text span{
    color: #6EB8F1;
}


@media screen and (max-width: 786px){
    .unorder-list ul li{
        font-size: 10px;
    }
    .heading h4{
        font-size: 15px;
    }
    .custom-containerr{
        padding: 0px 5pxpx;
    }

    .footer-text .big-text{
        padding: 0px;

    }
    .unorder-list{
        padding: 0px ;
    }
    .unorder-list ul li{
        font-size: 10px;
    }
    .simple-text {
        font-size: 5px;
    }
    .footer-text .big-text{
        padding: 5px 20px;
        width: 100%;
    }

}